In [ ]:
!pip install -U -q PyDrive
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth

In [ ]:
from oauth2client.client import GoogleCredentials

In [ ]:
import warnings
warnings.filterwarnings('ignore')

In [ ]:
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

In [ ]:
#merged datasets 1
#https://drive.google.com/file/d/1ngefCHpfiIeRI7boNrTqv7Qvb8x18ee4/view?usp=sharing

fileDownloaded = drive.CreateFile({"id":"1ngefCHpfiIeRI7boNrTqv7Qvb8x18ee4"})

In [ ]:
fileDownloaded.GetContentFile("merge.csv")

In [ ]:
import pandas as pd
data = pd.read_csv('merge.csv', encoding='utf-8')

In [ ]:
data.head()

   Unnamed: 0  Unnamed: 0.1  ...  sc_wireless_22-24m_trans  sc_wireless_22-24m_spend
0           0           164  ...                       NaN                       NaN
1           1           251  ...                       NaN                       NaN
2           2           278  ...                       NaN                       NaN
3           3           282  ...                       NaN                       NaN
4           4           374  ...                       2.0                         2

[5 rows x 1323 columns]

### Separate and keep geographic features for possible mapping visualization

In [ ]:
geo= data[['city','state','zip','zip_plus4']]

generate some variables based on consumptions on categories

clean the merged data

In [ ]:
import seaborn as sns
import pandas as pd
import numpy as np
import os

In [ ]:
#delete indicators that do not contain relevant information
data.filter(regex = 'Indicator$', axis= 1)

       Target Home Market Value 2.0 Indicator  ... Target Net Worth 4.0 Indicator
0                                           S  ...                              H
1                                           S  ...                              H
2                                           S  ...                              H
3                                           S  ...                              H
4                                           A  ...                              H
...                                       ...  ...                            ...
150931                                      H  ...                              H
150932                                      H  ...                              H
150933                                      S  ...                              H
150934                                      S  ...                              H
150935                                      S  ...                              H

[150936 rows x 7 columns]

In [ ]:
data.drop(columns = data.filter(regex = 'Indicator$', axis= 1), inplace= True)

In [ ]:
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import LabelEncoder
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer

### Recode string indices into ordered numbers in x

In [ ]:
x= data[['Number of Children (Enhanced)','Advantage Target Income 3.0',
         'Discretionary Spending Income','Target Net Worth 4.0 Code',
         'NICHES 5.0 Code']]

In [ ]:
x['Target Net Worth 4.0 Code'] = x['Target Net Worth 4.0 Code'].replace(['A','B'],[10,11])

In [ ]:
x['Advantage Target Income 3.0'] = x['Advantage Target Income 3.0'].replace(['A','B', 'C', 'D'],[10,11, 12, 13])

In [ ]:
x['Discretionary Spending Income'] = x['Discretionary Spending Income'].replace(['A','B', 'C'],[10,11, 12])

In [ ]:
x['NICHES 5.0 Code'] = x['NICHES 5.0 Code'].str[:1]
x['NICHES 5.0 Code'] = x['NICHES 5.0 Code'].replace(['A','B','C','D','E','F',
                                                     'G','H','I','J','K','L',
                                                     'M','N','O','P','Q','R',
                                                     'S','T','U','V', 'W','X',
                                                     'Y','Z'], [1, 2, 3, 4, 5, 
                                                                6, 7, 8, 9, 10,
                                                                11, 12, 13, 14, 
                                                                15, 16, 17, 18,
                                                                19, 20, 21, 22, 
                                                                23, 24, 25, 26])

### Using Iterative Imputer to impute missing values in x

In [ ]:
x_clean=pd.DataFrame(IterativeImputer(initial_strategy='median',imputation_order='ascending').fit_transform(x),columns=x.columns)

### Since all five variables in x are supposed to be ordinal integers in nature, so I round the decimals generated from iterative imputer to nearest integers

In [ ]:
x_clean=x_clean.round()

### Using Iterative Imputer to impute missing values in x2

In [ ]:
x2 = data[['Family composition (Enhanced)', 'Advantage Individual Marital Status - Person 1', 
                'Gender code - Person 1','Advantage Dwelling Type','Advantage Home Owner','Advantage Length of Residence']]

In [ ]:
x2_clean=pd.DataFrame(IterativeImputer(initial_strategy='median',imputation_order='ascending').fit_transform(x2),columns=x2.columns)

### Since all six variables in x2 are supposed to be ordinal integers in nature, so I round the decimals generated from iterative imputer to nearest integers

In [ ]:
x2_clean=x2_clean.round()

change marital status to a binary variable with 1 being married and 0 being single, for future classification models possibly

In [ ]:
x2_clean['Advantage Individual Marital Status - Person 1']=x2_clean['Advantage Individual Marital Status - Person 1'].replace([2],[0])

### MANUALLY dummify variables in x2 just for more visualization options

In [ ]:
ouch = x2_clean.copy()

In [ ]:
ouch['Family composition dummies'] = ouch['Family composition (Enhanced)'].replace([1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16],
                                                                                      ['Married, husband and wife present, with children',
                                                                                       'Married, husband and wife present, with no children',
                                                                                       'One male and one female, marital status unknown, with children',
                                                                                       'One male and one female, marital status unknown, with no children',
                                                                                       'Male householder with one or more persons, with children',
                                                                                       'Male householder with one or more persons, with no children',
                                                                                       'Female householder with one or more persons, with children',
                                                                                       'Female householder with one or more persons, with no children',
                                                                                       'Two or more persons of unknown gender with children',
                                                                                       'Two or more persons of unknown gender with no children',
                                                                                       'One person, male householder, with children',
                                                                                       'One person, male householder, with no children',
                                                                                       'One person, female householder, with children',
                                                                                       'One person, female householder, with no children',
                                                                                       'One person, unknown gender, with children',
                                                                                       'One person, unknown gender, with no children'])

In [ ]:
ouch['Marital Status dummies']=ouch['Advantage Individual Marital Status - Person 1'].replace([1,0],['Married','Single'])

In [ ]:
ouch['Gender dummies']=ouch['Gender code - Person 1'].replace([1,2,3],['Male','Female','Neutral'])

In [ ]:
ouch['Dwelling Type dummies']=ouch['Advantage Dwelling Type'].replace([0,1,2,3,5,6],['Unknown','SFDU','MFDU','Business','Condo','Mobile home'])

In [ ]:
ouch['Home Owner dummies']=ouch['Advantage Home Owner'].replace([0,1,2,3,4],
                                                                  ['Unknown',
                                                                   'Definite renter',
                                                                   'Probable renter',
                                                                   'Probable owner',
                                                                   'Definite owner'])

In [ ]:
ouch['Length of Residence dummies']=ouch['Advantage Length of Residence'].replace([1,2,3,4,5,6,7,8],
                                                                                    ['0-6 months','7-12 months',
                                                                                     '1-2 years','3-5 years',
                                                                                     '6-10 years','11-15 years',
                                                                                     '16-20 years','20+ years'])

In [ ]:
dummies = ouch[['Family composition dummies', 'Marital Status dummies', 
                'Gender dummies','Dwelling Type dummies','Home Owner dummies','Length of Residence dummies']]

### Recode spend codes' indices into average values

In [ ]:
spend = data.filter(regex = 'spend',axis= 1)

In [ ]:
spend1 = spend.replace(['1','2','3','4','5','6','7','8','9','A','B','C','D',
                        'E','F','G','H','I','J','K','L','M','N','O','P','Q','R',
                        'S','T','U','V','W','X','Y','Z']
                       ,[25.50,62.50,88.00,112.50,137.50,162.50,187.50,225.00,
                         275.00,325.00,375.00,430.00,475.00,525.00,575.00,625.00,
                         675.00,725.00,775.00,825.00,875.00,925.00,975.00,1125.00,
                         1375.00,1625.00,1875.00,2125.00,2375.00,2625.00,2875.00,
                         3125.00,3375.00,3625.00,3750.00])

In [ ]:
spend1.drop(columns = spend1.filter(regex = 'sc_education_', axis= 1), inplace= True)
spend1.drop(columns = spend1.filter(regex = 'sc_travel_services_', axis= 1), inplace= True)

### Keep the highest categories of *spend*

In [ ]:
automotive = spend1.filter(regex = 'c_automotive',axis= 1)
communication = spend1.filter(regex = 'c_communication',axis= 1)
education = spend1.filter(regex = 'c_education',axis= 1)
entertainment = spend1.filter(regex = 'c_entertainment',axis= 1)
financial_services = spend1.filter(regex = 'c_financial_services',axis= 1)
food_convenience_drug_store = spend1.filter(regex = 'c_food-convenience-drug_store',axis= 1)
other_retail = spend1.filter(regex = 'c_other_retail',axis= 1)
restaurant = spend1.filter(regex = "c_restaurant", axis=1)
retail = spend1.filter(regex = "c_retail", axis=1)
services = spend1.filter(regex = "c_services", axis=1)
travel = spend1.filter(regex = "c_travel", axis=1)

### Drop columns starting with *sc_* (not the highest category but not yet filtered out)

In [ ]:
education.drop(columns = education.filter(regex = 'sc_education_', axis= 1), inplace= True)
travel.drop(columns = travel.filter(regex = 'sc_travel_services_', axis= 1), inplace= True)

### Filling in missing values in each category of *spend* using iterative imputer

In [ ]:
auto_clean=pd.DataFrame(IterativeImputer(initial_strategy='median',
                                         imputation_order='ascending').fit_transform(automotive),columns=automotive.columns)

In [ ]:
comm_clean=pd.DataFrame(IterativeImputer(initial_strategy='median',
                                         imputation_order='ascending').fit_transform(communication),columns=communication.columns)

In [ ]:
educ_clean=pd.DataFrame(IterativeImputer(initial_strategy='median',
                                         imputation_order='ascending').fit_transform(education),columns=education.columns)

In [ ]:
rec_clean=pd.DataFrame(IterativeImputer(initial_strategy='median',
                                         imputation_order='ascending').fit_transform(entertainment),columns=entertainment.columns)

In [ ]:
finance_clean=pd.DataFrame(IterativeImputer(initial_strategy='median',
                                         imputation_order='ascending').fit_transform(financial_services),columns=financial_services.columns)

In [ ]:
food_clean=pd.DataFrame(IterativeImputer(initial_strategy='median',
                                         imputation_order='ascending').fit_transform(food_convenience_drug_store),columns=food_convenience_drug_store.columns)

In [ ]:
other_clean=pd.DataFrame(IterativeImputer(initial_strategy='median',
                                         imputation_order='ascending').fit_transform(other_retail),columns=other_retail.columns)

In [ ]:
restaurant_clean=pd.DataFrame(IterativeImputer(initial_strategy='median',
                                         imputation_order='ascending').fit_transform(restaurant),columns=restaurant.columns)

In [ ]:
retail_clean=pd.DataFrame(IterativeImputer(initial_strategy='median',
                                         imputation_order='ascending').fit_transform(retail),columns=retail.columns)

In [ ]:
services_clean=pd.DataFrame(IterativeImputer(initial_strategy='median',
                                         imputation_order='ascending').fit_transform(services),columns=services.columns)

In [ ]:
travel_clean=pd.DataFrame(IterativeImputer(initial_strategy='median',
                                         imputation_order='ascending').fit_transform(travel),columns=travel.columns)

### Concatenate all imputed *spend* categories into a single dataframe

In [ ]:
spend_clean=pd.concat([auto_clean, comm_clean, educ_clean, rec_clean, finance_clean, food_clean,
                       other_clean, restaurant_clean, retail_clean, services_clean, travel_clean], axis=1)

In [ ]:
spend_clean

        c_automotive_0-3m_spend  ...  c_travel_22-24m_spend
0                     88.000000  ...              25.500000
1                    112.500000  ...             875.000000
2                    363.091249  ...            1033.604950
3                    325.000000  ...             875.000000
4                    275.000000  ...             275.000000
...                         ...  ...                    ...
150931                25.500000  ...             625.000000
150932                62.500000  ...             268.390196
150933              2625.000000  ...            3750.000000
150934               131.483324  ...            3625.000000
150935               137.500000  ...              25.500000

[150936 rows x 88 columns]

### Merge all cleaned dataframe into a new one

In [ ]:
# cleaned data from oringial Eplison#1 and Eplison #2
df=pd.concat([geo,x_clean,x2_clean,dummies,spend_clean],axis=1)
df.head()

         city state  ...  c_travel_19-21m_spend  c_travel_22-24m_spend
0  ALEXANDRIA    VA  ...             275.000000               25.50000
1  ALEXANDRIA    VA  ...             775.000000              875.00000
2  ALEXANDRIA    VA  ...             985.790675             1033.60495
3  ALEXANDRIA    VA  ...            1875.000000              875.00000
4  ALEXANDRIA    VA  ...            1375.000000              275.00000

[5 rows x 109 columns]

Generate sum_category for each category's spending over all of the time period

In [ ]:
automotive_sum = automotive.apply(lambda x: pd.to_numeric(x, errors='coerce').sum(), axis=1)

In [ ]:
df["sum_automotive"] = pd.DataFrame(automotive_sum)

In [ ]:
communication_sum= communication.apply(lambda x: pd.to_numeric(x, errors='coerce').sum(), axis=1)
df["sum_communicatoin"] = pd.DataFrame(communication_sum)

In [ ]:
education_sum= education.apply(lambda x: pd.to_numeric(x, errors='coerce').sum(), axis=1)
df["sum_education"] = pd.DataFrame(education_sum)

In [ ]:
entertainment_sum= communication.apply(lambda x: pd.to_numeric(x, errors='coerce').sum(), axis=1)
df["sum_communicatoin"] = pd.DataFrame(entertainment_sum)

In [ ]:
financial_services_sum=financial_services.apply(lambda x: pd.to_numeric(x, errors='coerce').sum(), axis=1)
df["sum_financial_services"] = pd.DataFrame(financial_services_sum)

In [ ]:
food_convenience_drug_store_sum=food_convenience_drug_store.apply(lambda x: pd.to_numeric(x, errors='coerce').sum(), axis=1)
df["sum_food_convenience_drug_store"] = pd.DataFrame(food_convenience_drug_store_sum)

In [ ]:
other_retail_sum=other_retail.apply(lambda x: pd.to_numeric(x, errors='coerce').sum(), axis=1)
df["sum_other_retail"] = pd.DataFrame(other_retail_sum)

In [ ]:
restaurant_sum=restaurant.apply(lambda x: pd.to_numeric(x, errors='coerce').sum(), axis=1)
df["sum_restaurant"]= pd.DataFrame(restaurant_sum)

In [ ]:
retail_sum=retail.apply(lambda x: pd.to_numeric(x, errors='coerce').sum(), axis=1)
df["sum_retail"]= pd.DataFrame(retail_sum)

In [ ]:
services_sum=services.apply(lambda x: pd.to_numeric(x, errors='coerce').sum(), axis=1)
df["sum_services"]= pd.DataFrame(services_sum)

In [ ]:
travel_sum= travel.apply(lambda x: pd.to_numeric(x, errors='coerce').sum(), axis=1)
df["sum_travel"]= pd.DataFrame(travel_sum)

Remove time series within each category

In [ ]:
df.drop(columns = df.filter(regex = 'c_automotive', axis= 1), inplace= True)
df.drop(columns = df.filter(regex = 'c_communication', axis= 1), inplace= True)
df.drop(columns = df.filter(regex = 'c_education', axis= 1), inplace= True)
df.drop(columns = df.filter(regex = 'c_entertainment', axis= 1), inplace= True)
df.drop(columns = df.filter(regex = 'c_financial_services', axis= 1), inplace= True)
df.drop(columns = df.filter(regex = 'c_food-convenience-drug_store', axis= 1), inplace= True)
df.drop(columns = df.filter(regex = 'c_other_retail', axis= 1), inplace= True)
df.drop(columns = df.filter(regex = 'c_restaurant', axis= 1), inplace= True)
df.drop(columns = df.filter(regex = 'c_retail', axis= 1), inplace= True)
df.drop(columns = df.filter(regex = 'c_services', axis= 1), inplace= True)
df.drop(columns = df.filter(regex = 'c_travel', axis= 1), inplace= True)

In [ ]:
df.head()

         city state    zip  ...  sum_retail  sum_services  sum_travel
0  ALEXANDRIA    VA  22314  ...      6067.5          25.5       601.0
1  ALEXANDRIA    VA  22314  ...      9550.0         163.0      3813.0
2  ALEXANDRIA    VA  22314  ...      8342.5         327.5         0.0
3  ALEXANDRIA    VA  22314  ...     18600.0         926.5      6663.0
4  ALEXANDRIA    VA  22314  ...     10655.0        2426.5      5950.5

[5 rows x 31 columns]

export to csv file

In [ ]:
df.to_csv("preprocessed_data1",index="FALSE")

In [ ]:
from google.colab import  drive
drive.mount('/drive')
df.to_csv('/drive/My Drive/cleaned_data.csv')

Drive already mounted at /drive; to attempt to forcibly remount, call drive.mount("/drive", force_remount=True).